<p>Implement group show page</p>
<div class="container-fluid">
  <h1><%= @study_group.title %> <%= @study_group.topic%></h1>
  <hr>
  <div class="container-left">
    <p>Topic:
    <%= @study_group.topic %></p>

    <p>title:
    <%= @study_group.title %></p>
  </div>
  
