<div class="container-fluid">
  <h1><%= @study_group.title %></h1>
  <hr>
  <div class="container-left">
    <p>Topic: <%= @study_group.topic %></p>
    <p>Institution: <%= @study_group.institution %> </p>
    <p>Student Limit: <%= @study_group.student_limit %></p>
  </div>
</div>
