<div class="jumbotron">
  <h1>Welcome to Study Up!</h1>

  <h2>
    Create study groups with fellow students and participate in
    study sessions to improve your academic success!
  </h2>
  <div class="home-buttons">
    <%= link_to "Log In", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "Create Account", '#', class: "btn btn-lg btn-primary" %>
  </div>
</div>
